@import "./variables.scss";

body {
   margin: auto;
   padding: auto;
   background-color: $backgroundColor;
   color: $fontColor;
   font-family: 'Open Sans', sans-serif;
   font-size: $mediumFontSize;
   display: flex;
   align-items: center;
}

.container {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   padding: 2px;
   align-items: center;
   flex-direction: column;
   height: 100vh;
}

.form{
   margin: auto;
   padding: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.mainPiece{
   display: flex;
   justify-content: space-around;
   padding: 10px;
   margin: 10px;
   align-items: center;
}

#response{
   
   margin: 15px auto;
   color: red;
}

.nickname, .password{
   margin-top: 10px;
   margin-bottom: 10px;
}