* {
  margin: 0;
  padding: 0;
}

@import "./variables.scss";
@import "./main.scss";
// @import "./dashboard.scss";

/////////////////////////////////////////

body{
  display: flex;
  justify-content: center;
}


.dashboardContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 97%;
  #response{
    position: absolute;
    right: 40px;
    bottom: 50%;
  }
}

.menu{
  width: 90vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  padding: auto;
  width: 100%;
}

.p5{
  padding: 5px;
}

.quotationList {
  width: 25vw;
  ul {
    list-style-type: none;
    margin: 0.5vh;
    padding: 5px;
    .quotationItem {
      padding: 5px;
      margin-top: 12px;
      border: 2px solid $borderColor;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      border-radius: 4px;
      div, h3{
        pointer-events: none;
      }

      .dates {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        justify-content: flex-end;
        .dateItem {
          color: $fontColorSecondary;
          margin: 3px;
        }
      }
    }
  }
}
.delEditBtns{
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  button{
    display: block;
    margin: 2px;
    cursor: pointer;
  }
}

.workspace {
  width: 73vw;
  display: flex;
  padding: 5px;
  display:flex;
  flex-direction: row;
  .mainInfo{
    display: flex;
    padding: 5px;

    .el{
      flex-direction: row;
      margin-left: 5px;
    }
  }
  .perDay{
    padding: 5px;
  }
  .perMeter{
    padding: 5px;
  }
  
  .totalPrices{
    
    padding: 5px;
    border-top: 2px solid $borderColor;
  }
  form{
    width: 100%;
    display:flex;
    flex-direction: row;
  }
  .toBeCompleted{
    width: 50%;
  }
  .summary{
    width: 45%;
  }
}
.divOnBtn{
  margin: 2px;
}

.formIt{
  margin: 3px
}



fieldset{
  margin: 5px;
  padding: 3px;
}

.border{
  margin-top: 2px;
  margin-bottom: 4px;
  border-bottom: 2px solid $borderColor;
}